body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: background 0.9s ;
    -moz-transition: background 0.9s ;
    -ms-transition: background 0.9s ;
    -o-transition: background 0.9s ;
    transition: background 0.9s ;
}
canvas {
  background: rgba(0, 0, 0, 0);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
  
row {
  position: relative;
}

#background {
  position: absolute;
  left: 0;
  bottom: 0;
}
